
server:
  port: 8002

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/testJpa?serverTimezone=GMT%2B8
    username: root
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
#    配置应用名称
  application:
    name: UserProvider

#配置eureka 注册中心服务地址
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka,http://127.0.0.1:10087/eureka